{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Chewy' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    {% endblock stylesheets%}

    <style>
        body {
            background-image:url("{% static "img/bg.png" %}");
        }
    </style>

    <title>{% block title %}Starter Template for Bootstrap{% endblock title %}</title>
  </head>

  <body>


    <div class="header dark-blue-row">
        <div class="container row-4 tablet-row-3 mobile-row-3">
            <div class="clear mobile-text-center">
              <a href="/" class="logo left mobile-no-float uppercase"><span class="icon"></span>FavorShare</a>
              <ul class="navigation list-inline right no-mobile">
                {% block navbar %}
                <li><a class="active" href="{% url "authentication:login" %}">Login</a></li>
                {% endblock navbar %}
              </ul>
            </div>
        </div>
    </div>
    
    <div class="container mobile-container-full">
    {% block content %}
    {% endblock content %}
    </div><!-- /.container -->


    {% block javascript %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% endblock javascript %}
  </body>
</html>
 
