{% extends "base.html" %}


{% block title %} Login {% endblock title %}

{% block navbar %}
    {{ block.super }}
    <li><a href="{% url "profiles:register" %}">register</a></li>
{% endblock navbar %}

{% block content %}

    <div class="row clear">

        {% if form.errors %}
            <div class="error">Your username and password didn't match. Please try again.</div>
        {% endif %}

        <div class="col col-6 push-3">

            <form method="post" action="{% url 'authentication:login' %}" class="form-box">

                <div class="form-title"> Sign in</div>
                <div class="form-data"> 
                    {% csrf_token %}

                    <div class="row clear">
                        {{ form.username.label_tag }}
                    </div>
                    <div class="row clear">
                    {{ form.username }}
                    </div>
                    <div class="row clear">
                    {{ form.password.label_tag }}
                    </div>
                    <div class="row clear">
                    {{ form.password }}
                    </div>

                    <input type="submit" value="login" class="button green-button tablet-col-1-3 mobile-full" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
        </div>
    </div>

{% endblock content %}